* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
  color: grey;
}
.contenitoreGenerale {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vW;
}
/******SEZIONE ASIDE ************************/

aside {
  background-color: #000;
  width: 15vW;
  height: 90vh;
}
.divideAside {
  height: calc(90vh / 2);
}
#logo {
  padding: 35px;
}
nav div {
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
}
nav div i {
  margin-right: 10px;
}
nav div a,
#infoProfilo a {
  color: grey;
}
nav div a:hover,
#infoProfilo a:hover {
  color: #fff;
  text-decoration: none;
}
nav div .active {
  color: green;
}
nav div h4 {
  text-transform: uppercase;
  font-size: 13px;
}
#contenitoreAscoltatiRecente {
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
}
#contenitoreAscoltatiRecente h4{
  text-transform: uppercase;
  font-size: 13px;
}
.contenutoAscoltato {
  margin-top: 15px;
  margin-bottom: 15px
}
.contenutoAscoltato small {
  display: block;
}
.contenutoAscoltato small:last-child {
  text-transform: uppercase;
}
#profilo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
}
#infoProfilo {
  width: 100%;
}
#infoProfilo h4{
  font-weight: bold;
  font-size: 16px;
}
#infoProfilo i {
  margin-right: 10px;
  font-size: 15px;
}
#infoProfilo .profiloAttivo {
  color: white;
}
.lineaBianca {
  margin-top:10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: grey;
}
/*MEDIA QUERY ASIDE*/
@media screen and (max-width: 770px) {
  aside {
    display: none;
  }
}
/*****************FINE SEZIONE ASIDE***********************/
/*****************INIZIO SEZIONE CONTENITORE MUSICALE***********************/
#contenitoreMusica {
  height: 90vh;
  width: 85vW;
  background: linear-gradient( #2f393a , #080a07);
  overflow-y: scroll;
}
#contentenitoreNavMusica {
  display: flex;
  justify-content: center;
}
.trattinoAttivato {
  border-bottom: 2px solid green ; /*da rivedere*/
}
/*MEDIA QUERY contentenitoreNavMusica*/
@media screen and (max-width: 770px) {
  #contentenitoreNavMusica h4 {
    font-size: 10px;
  }
  #contenitoreMusica{
    width: 100vW;
  }
}
@media screen and (max-width: 500px) {

}
/*****************FINE CONTENITORE MUSICALE***********************/
#contenitoreLettore {
  height: 10vh;
  width: 100vW;
  background: linear-gradient( #2f393a , #080a07);
}
