* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
  color: grey;
}
.contenitoreGenerale {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vW;
}
aside {
  background-color: #000;
  width: 10vW;
  height: 90vh;
}
#logo {
  padding: 35px;
}
nav div {
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
}
nav div i {
  margin-right: 10px;
}
nav div a {
  color: grey;
}
nav div a:hover {
  color: #fff;
  text-decoration: none;
}
nav div .active {
  color: green;
}
nav div h4 {
  text-transform: uppercase;
  font-size: 13px;
}
#contenitoreAscoltatiRecente {
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
}
#contenitoreAscoltatiRecente h4{
  text-transform: uppercase;
  font-size: 13px;
}
.contenutoAscoltato {
  margin-top: 15px;
  margin-bottom: 15px
}
.contenutoAscoltato small {
  display: block;
}
.contenutoAscoltato small:last-child {
  text-transform: uppercase;
}
#contenitoreMusica {
  height: 90vh;
  width: 90vW;
  background: linear-gradient( #2f393a , #080a07);
  overflow-y: scroll;
}
#contenitoreLettore {
  height: 10vh;
  width: 100vW;
  background: linear-gradient( #2f393a , #080a07);
}
